/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container{
    max-width: 1200px;
    margin: 300px auto;
}

#inputs{
    text-align: center;
}

.none{
    display: none;
}

#numbers{
    text-align: center;
}